body {
  font-size: 0.95rem;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.responsibilities {
    list-style: none;
}

.responsibilities li:before {
  content: "\f164";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

.achivements {
  list-style: none;
}

.achivements li:before {
  content: "\f006";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

.blockquote {
  font-size: 1rem;
}